<!-- Intro Section -->
<header>
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://greentechsolutions.com.bd/wp-content/uploads/2016/10/call-center-training.jpg" alt="" style="opacity: 0.8">
                </div>
            </div>
        </div>
    </section>
</header>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-contrast"></i>
                              <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service One</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-contrast"></i>
                              <i class="fa fa-volume-control-phone fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service Two</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-contrast"></i>
                              <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service Three</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Prices Section -->
<section id="prices" class="prices-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Prices</h1>
            </div>
        </div>
<!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plan 1</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>9<sup>99</sup></span>
                        <span class="period">per month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Feature</strong> One</li>
                        <li class="list-group-item"><strong>Feature</strong> Two</li>
                        <li class="list-group-item"><strong>Feature</strong> Three</li>
                        <li class="list-group-item"><strong>Feature</strong> Four</li>
                        <li class="list-group-item"><strong>Feature</strong> Five</li>
                        <li class="list-group-item"><strong>Feature</strong> Six</li>
                        <li class="list-group-item"><strong>Feature</strong> Seven</li>
                        <li class="list-group-item"><strong>Feature</strong> Eight</li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plan 2 <span class="label" style="background-color: #9BDED3;">Best Value</span></h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>39<sup>99</sup></span>
                        <span class="period">per month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Feature</strong> One</li>
                        <li class="list-group-item"><strong>Feature</strong> Two</li>
                        <li class="list-group-item"><strong>Feature</strong> Three</li>
                        <li class="list-group-item"><strong>Feature</strong> Four</li>
                        <li class="list-group-item"><strong>Feature</strong> Five</li>
                        <li class="list-group-item"><strong>Feature</strong> Six</li>
                        <li class="list-group-item"><strong>Feature</strong> Seven</li>
                        <li class="list-group-item"><strong>Feature</strong> Eight</li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plan 3</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>59<sup>99</sup></span>
                        <span class="period">per month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Feature</strong> One</li>
                        <li class="list-group-item"><strong>Feature</strong> Two</li>
                        <li class="list-group-item"><strong>Feature</strong> Three</li>
                        <li class="list-group-item"><strong>Feature</strong> Four</li>
                        <li class="list-group-item"><strong>Feature</strong> Five</li>
                        <li class="list-group-item"><strong>Feature</strong> Six</li>
                        <li class="list-group-item"><strong>Feature</strong> Seven</li>
                        <li class="list-group-item"><strong>Feature</strong> Eight</li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
            </div>
        </div>
        <div class="row">
           <p>contact info here</p>
        </div>
    </div>
</section>